MONGODB_URL=mongodb://127.0.0.1:27017/
MONGODB_DB_NAME=visitor_management
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=yourmail@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM_EMAIL=yourmail@gmail.com
SMTP_USE_TLS=true
